.example-button-row {
    display: flex;
    justify-content: space-around;
}

h1 {
    color: rgb(255, 255, 255);
}

form{
    position: relative;
    z-index: 1;
    max-width: 350px;
    margin: 0 auto 100px;
    padding: 45px;
    color: white;
}
